# build
/build
/dist
/*.egg-info

# pyinstaller
/breaktrack.spec
/build
/dist
/BreakTrack.app

# ENV
.env
/poetry.lock
/break_log.db
/break_log.txt

# lint
.ruff_cache

# etc
.DS_Store
/.vscode
/docs

# pyc
__pycache__
__pycache__/
__pycache__/*.*
*.pyc
*.pyo
*.pyd

